{% extends 'main/base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <!-- Example Bar Chart Card-->
                <div class="card mb-3">
                    <div class="card-header"></div>
                    <div class="card-body">
                        {% if projects %}
                            <div class="animated fadeIn">
                                <div class="row">
                                    <div class="card-body">
                                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                            <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Competition</th>
                                                <th>Title</th>
                                                <th>Region</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for project in projects %}
                                                <tr>
                                                    <td>{{ project.name }}</td>
                                                    <td>{{ project.competition }}</td>
                                                    <td>{{ project.title }}</td>
                                                    <td>{{ project.region }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <p>No teams here.</p>
                        {% endif %}
                    </div>
                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
