{% extends 'main/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-sm-4">
            <div class="container">
                <div style="margin-top: 100px;">
                    <h2 style="margin: 20px 5px">Upload json</h2>
                    <form method="post" enctype="multipart/form-data" class="row p-3" id="uplaod_form">
                        {% csrf_token %}
                        <div class="col-md-10 custom-file" id="customFile" lang="es">
                            <input type="file" name="labels_json" class="custom-file-input"
                                   style="cursor: pointer;"
                                   id="inputFile"
                                   aria-describedby="fileHelp" required>
                            <label class="custom-file-label sot-file-label" for="inputFile" id="inputFile_label">
                                Select file...
                            </label>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <button type="submit" class="btn btn-outline-primary mt-3 mt-md-0" form="uplaod_form">
                                upload
                            </button>
                        </div>
                    </form>
                    {% if file_parse_status %}
                        <h1 style="color: lightgreen; margin-top: 60px; width: 100%; text-align: center; height: 60px">
                            File was succesfully parsed</h1>
                        <div style="width: max-content; margin: auto">
                            <h3>Token list:</h3>
                            {% if token_list %}
                                {% for token in token_list %}
                                    {{ token }} <br>
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                <div>
                    {% if languages %}
                        <h2 style="margin-top: 20px">or select item to modify</h2>
                        <div class="list-group" style="width: max-content; min-width: 30%; margin-top: 20px">
                            {% for lang_item in languages %}
                                <a href="{% url 'bot:index' %}?lang_code={{ lang_item }}"
                                   class="list-group-item list-group-item-action">
                                    <h5>Lang code: {{ lang_item }}</h5>
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <h2 style="margin: 20px 50px">Create new language translation</h2>
            {% load i18n widget_tweaks %}
            <form class="form-horizontal" role="form" method="post" action="{% url 'bot:add_translation' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-sm-12 control-label" for="id_lang_code">Language code</label>
                    <div class="col-sm-12">
                        <input id="id_lang_code" type="text" name="lang_code" class="form-control"
                               value="{{ lang_code }}" required>
                    </div>
                </div>
                {% for field in form %}
                    {% if field.errors %}
                        <div class="form-group has-error">
                            <label class="col-sm-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                            <div class="col-sm-10">
                                {{ field|attr:"class:form-control" }}
                                <span class="help-block">
                                            {% for error in  field.errors %}{{ error }}{% endfor %}
                                        </span>
                            </div>
                        </div>
                    {% else %}
                        <div class="form-group">
                            <label class="col-sm-12 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                            <div class="col-sm-12">
                                {{ field|attr:"class:form-control" }}
                                {% if field.help_text %}
                                    <p class="help-block">
                                        <small>{{ field.help_text }}</small>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-lg btn-success">Add/modify</button>
                    </div>
                </div>
                {% if success %}
                    <div class="alert alert-success">
                        <strong>Success: </strong> Judge was successfully added!
                    </div>
                    <h3>Token:</h3>
                    {% if token %}
                        {{ token }}
                        <hr>
                    {% endif %}
                {% endif %}
                {% if not success and error %}
                    <div class="alert alert-danger">
                        <strong>Error: </strong> {{ error }}.
                    </div>
                {% endif %}
            </form>
        </div>
    </div>

    <script>
        $('.custom-file-input').on('change', function () {
            let fileName = document.getElementById("inputFile").files[0].name;
            $(this).next('.custom-file-label').html(fileName);
        });
    </script>
{% endblock %}