{% load static %}
    <div id="RoundCloseModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to close this round?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="close_round_title">Could not get round name. Try again later</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">
                        <i class="fa fa-ban" style="color: black;"></i> Cancel
                    </button>
                    <button type="submit" form="close_round_form" style="color: #F44336" onclick="sot_delete_all({{ skill.id }})" class="btn btn-light">
                        <i class="fa fa-check"></i> Yes, close
                    </button>
                    <form id="close_round_form" action="{% url 'events:close_round' %}" method="post">
                        {% csrf_token %}
                        <input hidden name="round_id" value="1">
                    </form>
                </div>
            </div>
        </div>
    </div>