{% load static %}
{% block content %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible"
             style="position: fixed; right: 10px; bottom: 10px; min-width: 400px; max-width: 90vw; z-index: 40"
             role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <strong>{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error{% else %}
                {{ message.tags|title }}{% endif %}!</strong> {% autoescape off %} {{ message }} {% endautoescape %}
        </div>
    {% endfor %}
{% endblock %}