{% extends 'main/base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <a href="{% url 'judges:index' %}">
                    <button class="btn btn-outline-dark mb-3">
                        <i class="fa fa-arrow-left"></i>
                        Back to Judges list
                    </button>
                </a>
                <!-- Example Bar Chart Card-->
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-address-card"></i> Create judge:
                    </div>
                    <div class="card-body">
                        {% load i18n widget_tweaks %}

                        <form class="form-horizontal" role="form" action="." method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                {% if field.errors %}
                                    <div class="form-group has-error">
                                        <label class="col-sm-2 control-label"
                                               for="id_{{ field.name }}">{{ field.label }}</label>
                                        <div class="col-sm-10">
                                            {{ field|attr:"class:form-control" }}
                                            <span class="help-block">
                                                {% for error in  field.errors %}{{ error }}{% endfor %}
                                            </span>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label"
                                               for="id_{{ field.name }}">{{ field.label }}</label>
                                        <div class="col-sm-10">
                                            {{ field|attr:"class:form-control" }}
                                            {% if field.help_text %}
                                                <p class="help-block">
                                                    <small>{{ field.help_text }}</small>
                                                </p>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-lg btn-success">{% trans "Add" %}</button>
                                </div>
                            </div>
                            {% if token %}
                                <div class="alert alert-success">
                                    <strong>Success: </strong> Judge was successfully added!
                                </div>
                                <h3>Token:</h3>
                                {{ token }}
                                <hr>
                            {% endif %}
                        </form>

                        <div style="float: right">
                        </div>
                    </div>
                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
