{% extends 'main/base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <!-- Example Bar Chart Card-->
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-list-ul"></i> List of judges:
                        <div style="float: right">
                            <button class="btn btn-outline-secondary"
                                    onclick="location.href = '{% url 'judges:createJudge' %}';"><i
                                    class="fa fa-plus"></i> Add judge
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        {% if judges %}
                            <div class="animated fadeIn">
                                <div class="row">
                                    <div class="card-body">
                                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                            <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Name</th>
                                                <th>E-mail</th>
                                                <th>Token</th>
                                                <th>Telegram ID</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for judge in judges %}
                                                <tr>
                                                    <td>{{ judge.id }}</td>
                                                    <td>{{ judge.full_name }}</td>
                                                    <td>{{ judge.email }}</td>
                                                    <td>{{ judge.token }}</td>
                                                    <td>{{ judge.tel_id }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <p>No judges here.</p>
                        {% endif %}
                    </div>
                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
