{% extends 'main/base.html' %}

{% block content %}
    <script src="{% url 'js_reverse' %}" type="text/javascript"></script>

    <script>
        function longPolling(id, token, type) {
            jQuery.ajax({
                url: Urls['events:get_report_status']() + `?token=${token}&type=${type}`,
                method: 'GET',
                async: true,
                success: function (data) {
                    data = JSON.parse(data);
                    $(`#${id}`).text(`Progress: ${data.progress}%`);
                    if (data.progress < 100) {
                        setTimeout(function () {
                            longPolling(id, token, type);
                        }, 1500);
                    } else {
                        window.location = window.location.href;
                    }
                }
            });
        }
    </script>

    <div class="container-fluid">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i> Summary evaluation report
            </div>
            <div class="card-body">
                {% if rounds %}
                    <div>
                        <div class="container" style="max-width: 100%">
                            {% load staticfiles %}
                            {% for round in rounds %}
                                <div style="box-shadow: 0 0 6px lightgray; border-radius: 10px">
                                    <hr>
                                    <div class="col-12 pb-1">
                                        <h3>{{ round }}</h3>
                                        {% if round.end_timestamp <= today %}
                                            <i class="fa fa-calendar-check-o" style="color: #ef5350"></i>
                                            <span> Closed at <b>{{ round.end_timestamp }}</b></span>
                                        {% else %}
                                            <i class="fa fa-calendar-o" style="color: #66BB6A"></i>
                                            <span> Will be closed on <b>{{ round.end_timestamp }}</b></span>
                                        {% endif %}
                                        {% for competition in competitions %}
                                            <div class="row mb-3">
                                                <h5 class="col-6 d-flex align-items-center">{{ competition }}</h5>
                                                <div class="col-5 row" id="sum_buttons_{{ forloop.counter }}">
                                                    <div class="col-12 col-md-6">
                                                        <form action="{% url 'events:summary_report' round.id competition.id 'download' %}"
                                                              method="POST" class="mb-3 mb-md-0"
                                                              id="download_summary_report_form">
                                                            {% csrf_token %}
                                                            <label class="form-check-label col-12 mb-2"
                                                                   style="margin-left: 5px; font-size: 9pt">
                                                                <input type="checkbox" name="anonymous"
                                                                       class="form-check-input" value="" checked>anonymous
                                                            </label>
                                                            <select name="output_type" class="form-control mb-1"
                                                                    id="exampleFormControlSelect1">
                                                                <option value="pdf">pdf</option>
                                                                <option value="html">html</option>
                                                                <option value="csv">csv</option>
                                                            </select>
                                                            <button value="Download"
                                                                    class="btn btn-outline-primary col-12">
                                                                Download
                                                            </button>
                                                        </form>
                                                    </div>
                                                    <div class="col-12 col-md-6">
                                                        <form target="_blank"
                                                              action="{% url 'events:summary_report' round.id competition.id 'view' %}"
                                                              method="POST">
                                                            {% csrf_token %}
                                                            <label class="form-check-label col-12 mb-2"
                                                                   style="margin-left: 5px; font-size: 9pt">
                                                                <input type="checkbox" name="anonymous"
                                                                       class="form-check-input" value="" checked>anonymous
                                                            </label>
                                                            <select name="output_type" class="form-control mb-1"
                                                                    id="show_summary_report_form">
                                                                <option value="pdf">pdf</option>
                                                                <option value="html">html</option>
                                                            </select>
                                                            <button value="Download"
                                                                    class="btn btn-outline-info col-12">
                                                                View
                                                            </button>
                                                        </form>
                                                    </div>

                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <hr>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="card-footer small text-muted"></div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card mb-3">
            <div class="card-header" id="title">
                <i class="fa fa-users"></i> Report by judges
            </div>
            <div class="card-body">
                {% if rounds %}
                    <form action="{% url 'events:reports_page' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Round</label>
                            <select name="round_id" class="form-control" id="exampleFormControlSelect1">
                                {% for round in rounds %}
                                    <option value="{{ round.id }}">{{ round }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Competition</label>
                            <select name="competition_id" class="form-control" id="exampleFormControlSelect1">
                                {% for competition in competitions %}
                                    <option value="{{ competition.id }}">{{ competition }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Output type</label>
                            <select name="output_type" class="form-control" id="exampleFormControlSelect1">
                                <option value="pdf">pdf</option>
                                <option value="html">html</option>
                                <option value="csv">csv</option>
                            </select>
                        </div>
                        <input type="hidden" name="type" value="judge"/>
                        <label for="judges_scale">Dpi</label>
                        <input name="dpi" type="number" value="100" max="500" min="20" id="judges_scale"
                               class="px-2 mx-2">
                        <button type="submit" class="btn btn-outline-primary mb-2">Prepare ZIP</button>
                    </form>
                {% endif %}
                <div class="card-body" style="max-height: 300px; overflow-y: scroll">
                    <table id="bootstrap-data-table" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Time</th>
                            <th>Round</th>
                            <th>Competition</th>
                            <th>Download</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for report in judges_ready_reports %}
                            <tr style="background-color: {% if report.ready %} #E8F5E9 {% else %} #FFF3E0 {% endif %}">
                                <td>{{ report.time }}</td>
                                <td>{{ report.round }}</td>
                                <td>{{ report.competition }}</td>
                                <td>
                                    {% if report.ready %}
                                        <form action="{% url 'events:send_report' %}" method="POST">
                                            {% csrf_token %}
                                            <input name="filepath" id="filepath" type="hidden"
                                                   value="{{ report.filepath }}"/>
                                            <button type="submit" class="btn btn-outline-success">
                                                Download
                                            </button>
                                        </form>
                                    {% else %}
                                        <p id="judges_{{ report.id }}_progress">
                                            Progress: {% widthratio report.progress 1 100 %}%
                                        </p>
                                    {% endif %}
                                </td>
                            </tr>
                            <script>
                                {% if not report.ready %}
                                    longPolling("judges_{{ report.id }}_progress", "{{ report.token }}", 'judge');
                                {% endif %}
                            </script>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card-footer small text-muted"></div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card mb-3">
            <div class="card-header" id="title">
                <i class="fa fa-users"></i> Report by teams
            </div>
            <div class="card-body">
                {% if rounds %}
                    <div class="container" style="max-width: 100%">
                    {% load staticfiles %}
                    <div style="box-shadow: 0 0 6px lightgray; padding: 0 20px 0 20px; padding-top: 10px;
                                border-radius: 10px; margin: 0 auto; background-color: #4FC3F7">
                        <div class="row">
                            <div class="col-6">
                                <h4 style="color: white">Download all rounds report</h4>
                            </div>
                            <div class="col-6">
                                <a style="float: right; margin-top: -5px;" class="col-12 p-0">
                                    <form action="{% url 'events:reports_page' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="type" value="team"/>
                                        <input type="hidden" name="round_id" value="0">
                                        <div class="col-12 row p-0 pr-1 float-right">
                                            <select name="output_type" class="form-control col-12 col-md-5 mb-2">
                                                <option value="pdf">pdf</option>
                                                <option value="html">html</option>
                                                <option value="csv">csv</option>
                                            </select>
                                            <button type="submit"
                                                    class="btn col-12 col-md-6 offset-md-1 btn-warning mb-2">
                                                Prepare ZIP
                                            </button>
                                            <label for="teams_all_scale" style="color: white">Dpi</label>
                                            <input name="dpi" type="number" value="100" max="500" min="20"
                                                   id="teams_all_scale" class="px-2 mx-2">
                                        </div>
                                    </form>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% for round in rounds %}
                        <div style="box-shadow: 0 0 6px lightgray; padding: 0 20px 0 20px; border-radius: 10px">
                            <hr>
                            <div class="row">
                                <div class="col-8">
                                    <h3>{{ round }}</h3>
                                </div>
                                <div class="col-4">
                                    <form action="{% url 'events:reports_page' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="type" value="team"/>
                                        <input type="hidden" name="round_id" value="{{ round.id }}">
                                        <div class="row">
                                            <select name="output_type" class="form-control col-12 col-md-5 mr-2 mb-2">
                                                <option value="pdf">pdf</option>
                                                <option value="html">html</option>
                                                <option value="csv">csv</option>
                                            </select>
                                            <button type="submit" class="btn col-12 col-md-6 btn-outline-primary mb-2">
                                                Prepare ZIP
                                            </button>
                                            <span>
                                            <label for="teams_{{ forloop.counter0 }}_scale">Dpi</label>
                                            <input name="dpi" type="number" value="100" max="500" min="20"
                                                   id="teams_{{ forloop.counter0 }}_scale"
                                                   class="px-2 mx-2">
                                                </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <hr>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="card-body" style="max-height: 300px; overflow-y: scroll">
                    <table id="bootstrap-data-table" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Time</th>
                            <th>Round</th>
                            <th>Download</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for report in teams_ready_reports %}
                            <tr style="background-color: {% if report.ready %} #E8F5E9 {% else %} #FFF3E0 {% endif %}">
                                <td>{{ report.time }}</td>
                                <td>{{ report.round }}</td>
                                <td>
                                    {% if report.ready %}
                                        <form action="{% url 'events:send_report' %}" method="POST">
                                            {% csrf_token %}
                                            <input name="filepath" id="filepath" type="hidden"
                                                   value="{{ report.filepath }}"/>
                                            <button type="submit" class="btn btn-outline-success"
                                                    {% if not report.ready %}
                                                    disabled {% endif %}>Download
                                            </button>
                                        </form>
                                    {% else %}
                                        <p id="teams_{{ report.id }}_progress">
                                            Progress: {% widthratio report.progress 1 100 %}%
                                        </p>
                                    {% endif %}
                                </td>
                            </tr>
                            <script>
                                {% if not report.ready %}
                                    longPolling("teams_{{ report.id }}_progress", "{{ report.token }}", 'team');
                                {% endif %}
                            </script>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
                </div>
            </div>
            <div class="card-footer small text-muted"></div>
        </div>
    </div>
{% endblock %}
