<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <title>Evaluation report</title>
</head>
<body style="">
<div style=" margin: 50px;">
    {% if table %}
        {% autoescape off %}
            {{ table }}
        {% endautoescape %}
    {% endif %}
    <br>
    {% if not_evaluated %}
        <h5>Not evaluated teams:</h5>
        {% for project in not_evaluated %}
            <div>{{ project }}</div>
        {% endfor %}
    {% endif %}
    <br>
    {% if judges_deanon %}
        <h5>Judges:</h5>
        {% for judge_id, judge_name in judges_deanon.items %}
            <p style="white-space: nowrap;  writing-mode: vertical-rl; float: left; -webkit-writing-mode: vertical-rl; -ms-writing-mode: vertical-rl;"><b>j{{ judge_id }}</b> - {{ judge_name }}

        {% endfor %}
    {% endif %}
</div>
</body>
</html>
