<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <title>Evaluation report</title>

</head>
<body style="padding: 50px;">
<div style=" height:100%; width:100%;">
    <h3 style="text-align: center; padding-top: 30px; ">Оценочный лист творческого проекта</h3>
    <h5 style="text-align: center;">"{{ project_title }}"</h5>
    <div>
        <div style="height: 125px; float: left; width: 86%; margin-left: 2%; ">
            <div style="width: 25%; float: left; margin-left: 2%">
                <p style="margin-top: 15px">Возрастная группа:</p>
                <p>Код команды:</p>
                <p>Судья:</p>
            </div>
            <div style="width: 70%; float: right; margin-top: 16px">
                <p style="margin-bottom: -10px; margin-left: 10px">{{ competition_title }}</p>
                <hr style="border-bottom: solid 1px black; margin-top: 10px">
                <p style="margin-bottom: -10px; margin-left: 10px">{{ team_name }}</p>
                <hr style="border-bottom: solid 1px black; margin-top: 10px; margin-bottom: 17px">
                <p style="margin-bottom: -3px; margin-left: 10px">{{ judge_name }}</p>
                <hr style="border-bottom: solid 1px black; margin-top: -3px">
            </div>
        </div>
        <div style="height: 83px; width: 10%; float: left; margin-top: 41px; border: solid 1px black"><p
                style="text-align: center; border: solid 1px black">шкала</p>
            <p style="text-align: center">{{ scale }}</p>
        </div>
    </div>

    <div style="margin-top: 140px; font-size: 85%; height: max-content; width: 100%; border: solid 3px black">
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="col" style="width: 20%">Категория</th>
                <th scope="col" style="width: 75%">Критерий</th>
            </tr>
            </thead>
            <tbody>
            {% for group, values in criterion_groups.items %}
                <tr>
                    <td><p style="text-align: center;">{{ group }}</p></td>
                    <td style="padding: 0">
                        <table class="table table-bordered" style="margin: 0">
                            <tbody style="width: 100%">
                            {% for criterion, cri_values in values.items %}
                                <tr style="width: 100%">
                                    <th style="padding: 1px; padding-left: 5px"><p
                                            style=" display: inline">{{ criterion }}</p> - <p
                                            style="color: gray; display: inline">{{ cri_values.description }}</p>
                                    </th>
                                    <td>{{ cri_values.score }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <table class="table borderless">
            <tbody>
            <tr>
                <td>
                    <h5 style="margin-top: 30px">Итоговая оценка: {{ total_score }}</h5>
                </td>
                <td>
                    <div style="margin-top: 50px; width: 100%; margin-right: 5%">
                        <hr style="border-bottom: solid 1px black; width: 50%;
            float: right; margin-top: -3px; margin-right: 5%">
                        <p style="float: right; margin-top: -20px; margin-right: 10px">Подпись судьи</p>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
<style>
    html, body {
        min-height: 297mm;
        width: 280mm;
        max-width: 280mm;
    }
</style>
</html>
