{% extends 'main/base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <!-- Example Bar Chart Card-->
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-list-ul"></i> Create event:
                    </div>
                    <div class="card-body">


                        {% load static %}


                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="file" name="myfile">
                                <button type="submit">Upload</button>
                            </form>
                            {% if file_parse_status %}
                                <h1 style="color: lightgreen; margin-top: 60px; width: 100%; text-align: center; height: 60px">
                                    File was succesfully parsed</h1>
                                <div style="width: max-content; margin: auto">
                                    <h3>Token list:</h3>
                                    {% if token_list %}
                                        {% for token in token_list %}
                                            {{ token }} <br>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            {% endif %}
                        <hr>
                    </div>
                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}