{% extends 'main/base.html' %}

{% block content %}
    {% include 'modals/close_round_modal.html' %}

    <div class="container-fluid" style="margin-bottom: 50px;">
        <div class="row">
            <div class="col-lg-12">
                <!-- Example Bar Chart Card-->
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-list-ul"></i> Rubrics:
                        <div style="float: right">
                            <form action="{% url 'events:upload_rubrics' %}"
                                  method="post" enctype="multipart/form-data" class="row">
                                {% csrf_token %}
                                <label class="col text-center mt-2" for="customFile">Upload json</label>
                                <div class="col-md-7 custom-file" id="customFile" lang="es">
                                    <input type="file" name="rubrics_json" class="rubrics-file-input"
                                           style="cursor: pointer;"
                                           id="rubrics_input_file"
                                           aria-describedby="fileHelp" required>
                                    <label class="custom-file-label sot-file-label" for="rubrics_input_file"
                                           id="rubrics_input_label">
                                        Select file...
                                    </label>
                                </div>
                                <div class="col-sm-12 col-md-2">
                                    <button type="submit"
                                            class="btn btn-outline-primary mt-3 mt-md-0">
                                        upload
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card-body">
                        {% if rubrics %}
                            <div class="animated fadeIn" style="margin: -20px">
                                <div class="row">
                                    <div class="card-body">
                                        {% for rubric, value in rubrics.items %}
                                            <div class="accordion" id="accordion2">
                                                <div class="accordion-group">
                                                    <div class="accordion-heading">
                                                        <a class="accordion-toggle" data-toggle="collapse"
                                                           data-target="#collapseOne{{ forloop.counter }}"
                                                           href="#collapseOne{{ forloop.counter }}">
                                                            <button class="btn btn-lg btn-outline-dark"
                                                                    style="width: 100%; height: 45px; margin-bottom: 10px">
                                                                <h5>{{ rubric }}</h5></button>
                                                        </a>
                                                    </div>
                                                    <div id="collapseOne{{ forloop.counter }}"
                                                         class="accordion-body collapse in" style="margin-top: 10px">
                                                        <div class="accordion-inner">
                                                            {% for group, value in value.items %}
                                                                <table id="bootstrap-data-table"
                                                                       style="margin: 20px 0 20px 100px; width: 60%; min-width: 400px"
                                                                       class="table table-striped table-bordered">
                                                                    <h3 style="margin-left: 50px">{{ group }}</h3>
                                                                    <tbody>
                                                                    <td><h5 style="color: gray; text-align: center">
                                                                        Criterions</h5></td>
                                                                    {% for criterion in value %}
                                                                        <tr>
                                                                            <td>{{ criterion.title }}</td>
                                                                        </tr>
                                                                    {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <p>No rubrics here.</p>
                        {% endif %}
                    </div>
                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="margin-bottom: 50px">
        <div class="row">
            <div class="col-lg-12">
                <!-- Example Bar Chart Card-->
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-list-ul"></i> Rounds:
                        <div style="float: right;">
                            <form action="{% url 'events:upload_rounds' %}"
                                  method="post" enctype="multipart/form-data" class="row">
                                {% csrf_token %}
                                <label class="col text-center mt-2" for="customFile">Upload json</label>
                                <div class="col-md-7 custom-file" id="customFile" lang="es">
                                    <input type="file" name="rounds_json" class="events-file-input"
                                           style="cursor: pointer;"
                                           id="events_input_file"
                                           aria-describedby="fileHelp" required>
                                    <label class="custom-file-label sot-file-label" for="events_input_file"
                                           id="events_input_label">
                                        Select file...
                                    </label>
                                </div>
                                <div class="col-sm-12 col-md-2">
                                    <button type="submit"
                                            class="btn btn-outline-primary mt-3 mt-md-0">
                                        upload
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card-body">
                        {% if rounds_list %}
                            <div class="animated fadeIn">
                                <div class="row">
                                    <div class="card-body" style="margin: -20px">
                                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                            <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Title</th>
                                                <th>Start time</th>
                                                <th>End Time</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for round in rounds_list %}
                                                <tr>
                                                    <td>{{ round.id }}</td>
                                                    <td>{{ round.title }}</td>
                                                    <td>{{ round.start_timestamp }}</td>
                                                    <td>{{ round.end_timestamp }}</td>
                                                    <td>
                                                        {% if round.end_timestamp <= today %}
                                                            <i class="fa fa-calendar-check-o"
                                                               style="color: #ef5350"></i>
                                                            <span> Closed at <br><b>{{ round.end_timestamp }}</b></span>
                                                        {% else %}
                                                            <button class="btn btn-outline-danger"
                                                                    onclick="set_modal_info('{{ round.title }}', {{ round.id }})"
                                                                    data-toggle="modal" data-target="#RoundCloseModal">
                                                                <i class="fa fa-hourglass-end"></i>
                                                                Close
                                                            </button>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <p>No rounds here.</p>
                        {% endif %}
                    </div>
                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('.events-file-input').on('change', function () {
            let fileName = document.getElementById("events_input_file").files[0].name;
            $(this).next('#events_input_label').html(fileName);
        });

        $('.rubrics-file-input').on('change', function () {
            let fileName = document.getElementById("rubrics_input_file").files[0].name;
            $(this).next('#rubrics_input_label').html(fileName);
        });

        function set_modal_info(name, id) {
            $('#close_round_title').html(`Round <b>"${name}"</b> will be closed`);
            $('input[name="round_id"]').val(id);
        }
    </script>
{% endblock %}
